# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# To install, run as root:
#   cp dlibox_update.service /etc/systemd/system
#   systemctl daemon-reload
#   systemctl enable dlibox_update.service
#
# To run manually, run as root:
#   systemctl start dlibox_update.service
#
# To view logs:
#   journalctl -f -u dlibox_update.service

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Updates dlibox, as triggered by dlibox_update.timer
After=network-online.target

[Service]
Type=oneshot
User=pi
Group=pi
# /bin/sh is necessary to load .profile to set $GOPATH:
ExecStart=/bin/sh -l -c "go get -v -u github.com/maruel/dlibox/go/cmd/..."
WorkingDirectory=/home/pi
# May be necessary when using a custom Go version.
# Environment=PATH=/home/pi/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin GOROOT=/home/pi/go
