# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# To install, run as root:
#   cp dlibox.service /etc/systemd/system
#   systemctl daemon-reload
#   systemctl enable dlibox.service
#   systemctl start dlibox.service
#
# To view logs:
#   journalctl -f -u dlibox.service

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# - https://www.freedesktop.org/software/systemd/man/systemd.kill.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Runs dlibox automatically upon boot
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
KillMode=mixed
Restart=always
TimeoutStopSec=20s
ExecStart=/home/pi/go/bin/dlibox -port 80 -verbose -notime

# Systemd 229:
#AmbientCapabilities=CAP_NET_BIND_SERVICE
# Systemd 228 and below:
SecureBits=keep-caps
Capabilities=cap_net_bind_service+pie
# Older systemd:
PermissionsStartOnly=true
ExecStartPre=/sbin/setcap 'cap_net_bind_service=+ep' /home/pi/go/bin/dlibox

# High priority stuff:
# Nice=-20
# IOSchedulingClass=realtime
# IOSchedulingPriority=0
# CPUSchedulingPolicy=rr
# CPUSchedulingPriority=99
# CPUSchedulingResetOnFork=true

[Install]
WantedBy=default.target
