# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# Copy to /etc/systemd/system/dlibox.service
# Then run:
#   systemctl daemon-reload
#   systemctl enable dlibox.service
#   systemctl start dlibox.service
#
# To view logs:
#   journalctl -u dlibox.service

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# - https://www.freedesktop.org/software/systemd/man/systemd.kill.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Runs dlibox automatically upon boot
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
PermissionsStartOnly=true
KillMode=mixed
Restart=always
TimeoutStopSec=20s
ExecStartPre=/sbin/setcap 'cap_net_bind_service=+ep' /home/pi/bin/dlibox
ExecStart=/home/pi/bin/dlibox -port 80 -verbose -notime

[Install]
WantedBy=multi-user.target
