# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# armbian specific udev rule file to make sysfs GPIO interface usable as
# non-root.
#
# Put this file into /etc/udev/rules.d/
# sudo udevadm control --reload-rules
# sudo udevadm trigger --verbose
# ll /sys/class/gpio/

SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c '\
  chown -R root:dialout /sys/class/gpio && chmod -R 770 /sys/class/gpio;\
  chown -R root:dialout /sys$devpath && chmod -R 770 /sys$devpath\
'"

# KERNEL=="gpio*", MODE:="0660", GROUP:="dialout" ?
