/* Copyright 2016 Marc-Antoine Ruel. All rights reserved.
   Use of this source code is governed under the Apache License, Version 2.0
   that can be found in the LICENSE file. */

/* Keep all the offsets of "5rem" in sync.
 * The h2 one is to account for the fixed navbar when using anchor links.
 * The content one is to offset the top of the page.
 *
 * The items below are roughly in order of which they appear on the page.
 */

#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  color: #dddddd;
  font-size: 128px;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: block;
  height: 5rem;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}
.navbar ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
}
.navbar ul li {
  float: left;
  margin-bottom: 0;
  position: relative;
}
.navbar a {
  color: #222;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  line-height: 5rem;
  margin-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #33C3F0;
}

.content {
  position: relative;
  top: 5rem;
}

/* They are created on the fly */
#boutons button {
  width: 80%;
}
#boutons button img {
  width: 100%;
}

#patternBox {
  height: auto;
  width: 100%;
}

.picker-wrapper, .slide-wrapper {
  float: left;
  position: relative;
}
.picker-indicator, .slide-indicator {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
.picker, .slide {
  cursor: crosshair;
  float: left;
}
.colorpicker {
  background-color: gray;
  border-radius: 15px;
  box-shadow: 0 0 40px #000;
  float: left;
  margin-bottom: 3rem;
  margin-right: 3rem;
  padding: 12px;
}
.colorpicker .picker {
  height: 200px;
  width: 200px;
}
.colorpicker .slide {
  height: 200px;
  width: 30px;
}
.colorpicker .slide-wrapper {
  margin-left: 10px;
}
.colorpicker .picker-indicator {
  background-color: white;
  border-radius: 4px;
  border: 2px solid darkblue;
  height: 5px;
  opacity: .5;
  width: 5px;
}
.colorpicker .slide-indicator {
  background-color: white;
  border-radius: 4px;
  border: 4px solid lightblue;
  height: 10px;
  left: -4px;
  opacity: .6;
  width: 100%;
}

.colorRGB input {
  width: 10rem;
}

.colorRGB label, .colorRGB input {
  display: inline-block;
}


/* General stuff */

button, input[type="submit"], input[type="reset"], input[type="button"] {
  background-color: #CCC;
  border-color: #666;
  color: #FFF;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover,
input[type="button"]:hover, button:focus, input[type="submit"]:focus,
input[type="reset"]:focus, input[type="button"]:focus {
  background-color: #888;
  border-color: #666;
  color: #FFF;
}

h2 {
  padding-top: 5rem;
  margin-top: -5rem;
}
